.btn-login {
  border: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 40px;
  padding: 13px;
  width: 200px;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  transition: 0.6s;
  background-image: linear-gradient(to left, #12CBC4,#0652DD,#12CBC4);
}

.btn-login:hover {
  background-position: right;
}
