.btn-session {
  border: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 40px;
  padding: 10px;
  width: 270px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  transition: 0.7s;
  background-image: linear-gradient(to left, #2d98da,#3867d6,#2d98da);
}

.btn-session:hover {
  background-position: right;
}
